html,body{
   /* background-color:rgb(233,236,239); */
   background: #dfdfdf;
   min-height: 100vh;
}

/*****************/
.logos{
    text-align: center;
    margin-bottom: 30px;
}
.logos img{
    height:5rem; 
    width: 7rem;
    margin:0.5rem;
}

/************/
.social{
    text-align: center; 
    margin-top:30px;
}
.social a{
    color:#f45f37;
    font-size:45px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.social a:hover{
    color: #f5a03a;
    border-radius: 25%;
}
/************************************/

.card{
    background-color: rgba(0,0,0,0.2);
    border:0px;
}

.custom-navbar{
    background-color: #413836!important;
}
.custom-navbar p{
    color:whitesmoke;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size:20px;
    border-left:2px solid rgba(0, 200, 10,1);
    background-color: none;
}
.custom-navbar h4{
    padding-top:20px;
    font-size: 28px;
    /*color: #64a19d;*/
    color:whitesmoke;
}
.custom-navbar img{
    width: 200px; 
    height:200px; 
    border-radius: 100%;
}
@media only screen and (max-width: 600px) {
    .custom-navbar img{
        width:120px; 
        height:120px; 
        border-radius: 100%;
    }
    .custom-navbar{
        font-size: 15px;
        text-align: center;
    }
    .custom-navbar p{
        font-size:16px;
    }
    .custom-navbar h4{
        font-size: 25px;
    }
}

/************************************/
.custom-acordion-sizing{
    width: 80%; 
    margin-right: 10%; 
    margin-left: 10%;
}
@media only screen and (max-width: 600px) {
    .custom-acordion-sizing{
        width: 94%; 
        margin-right: 3%; 
        margin-left: 3%;
    }
}
/************************************/
.custom-margintop{
    margin-top:3%;
}
/************************************/
.custom-header{
    text-align: center;
    background-color: #413836;
}
.custom-header button{
    border-bottom: 2px solid rgb(0, 200, 50);
    text-decoration: none!important;
}
.custom-header button:hover{
    color:rgba(255,255,255,1);
    text-decoration: none!important;
}
.custom-header h4{
    color:whitesmoke;
}
@media only screen and (max-width: 600px) {
    .custom-header h4{
        color:#fff;
        font-size: 17px;
    }
}
/************************************/
.custom-aboutme{
    background-color: #f8f9f9;
    
}
.custom-aboutme p{
    padding-left: 3%; 
    padding-right: 3%; 
    padding-top: 2%;
    padding-bottom: 3%;
    color:black;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .custom-aboutme h6{
        padding-top:15px;
    }
    .custom-aboutme a{
        font-size:18px;
        padding-right: 3px;
        padding-left: 3px;
    }
    .custom-aboutme p{
        font-size: 15px;
    }
}
/************************************/
.custom-skills{
    background-color: #f8f9f9;
}
.custom-skills ol{
    list-style: none;
}
.custom-skills li{
    margin-top: 1%;
}
.custom-skills h5{
    text-align: left; 
    padding-left: 8%;
    margin-top:2%;
    /*color: rgba(100, 161, 157) !important; */
    color: darkgreen;
    font-size: 25px;
    
}
.custom-skills p{
    text-align: left; 
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    color: black !important;
    /*
    border-bottom:1px solid green;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 5%;
    */
}
@media only screen and (max-width: 600px) {
    .custom-skills ol{
        padding:0px;
    }
    .custom-skills h5{
        padding-left: 3%;
    }
}
/***************************************/
.custom-myworks-card{
    width: 18rem; 
    margin-top: 5%; 
    display: inline-block;
    background-color: #dfdfdf;
}
.custom-myworks-card p{
    color: black !important;
    font-size: 18px!important;
}


.custom-myworks-card h5{
    /*color:#64a19d;*/
    color: black;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .custom-myworks-card img{
        max-width: 250px;
    }
    .custom-myworks-card p{
        color: black !important;
        font-size: 15px!important;
    }
}

/*******************************************/
.custom-projects{
    background-color: #f8f9f9;
    font-family:monspace;
}

/************************************************/
.go-top{
    position: fixed;
    bottom:8%;
    right: 8%;
    padding: 2px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    background-color:rgba(0,0,0,0.3);
    border-radius: 30%;
}
.go-top svg{
    /*color: #64a19d;*/
    color:white;
}
.go-top:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
@media only screen and (max-width: 600px) {
    .go-top{
        position: fixed;
        bottom:2%;
        right: 2%;
        padding: 3px;
    }
}



/* Animation Slide */
@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animationtop1 {
    animation: 0.3s ease-out 0s 1 slideInFromTop;
}
.animationtop2 {
    animation: 0.5s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.animationleft1 {
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
}
.animationleft2 {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.animationleft3 {
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
}



/**************COPY TO CLİPVOARD***************/
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  /*******************************************/



