html,body{
   /* background-color:rgb(233,236,239); */
   background: rgb(42,42,42);
   background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(62,62,62,1) 100%);
   min-height: 100vh;
}

/*****************/
.logos{
    text-align: center;
}
.logos img{
    height:100px; 
    width: auto;
    margin:20px;
}
@media only screen and (max-width: 600px) {
    .logos img{
        height:60px; 
        width: auto;
        margin:5px;
    }
}
/************/
.social{
    text-align: center; 
    margin-top:20px;
}
.social a{
    color: rgba(100, 161, 157) !important;
    font-size:35px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.social a:hover{
    background-color: rgba(0,0,0,0.2);
}
/************************************/

.card{
    background-color: rgba(0,0,0,0.2);
}

.custom-navbar{
    background-color: rgba(0,0,0,0.4)!important;
    font-family: monospace;
    font-size: 18px;
}
.custom-navbar img{
    width:160px; 
    height:160px; 
    border-radius: 100%;
}
@media only screen and (max-width: 600px) {
    .custom-navbar img{
        width:100px; 
        height:100px; 
        border-radius: 100%;
    }
    .custom-navbar{
        font-size: 15px;
        text-align: center;
    }
}
.custom-navbar h4{
    padding-top:20px;
    color: #64a19d;
}
.custom-navbar p{
    color: whitesmoke;
}
/************************************/
.custom-acordion-sizing{
    width: 80%; 
    margin-right: 10%; 
    margin-left: 10%;
}
@media only screen and (max-width: 600px) {
    .custom-acordion-sizing{
        width: 94%; 
        margin-right: 3%; 
        margin-left: 3%;
    }
}
/************************************/
.custom-margintop{
    margin-top:3%;
}
/************************************/
.custom-header{
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}
.custom-header button{
    color:#fff;
    border-bottom: 2px solid #64a19d;
    text-decoration: none!important;
}
.custom-header button:hover{
    color:#fff;
    text-decoration: none!important;
}
.custom-header h4{
    color:#fff;
}
@media only screen and (max-width: 600px) {
    .custom-header h4{
        color:#fff;
        font-size: 17px;
    }
}
/************************************/
.custom-aboutme{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
.custom-aboutme h6{
    padding-left: 3%; 
    padding-right: 3%; 
    padding-top: 2%;
    padding-bottom: 3%;
    color: rgba(255, 255, 255, 0.7) !important;
}
.custom-aboutme a{
    color: rgba(100, 161, 157) !important;
    font-size:35px;
    padding-right: 10px;
    padding-left: 10px;
}
@media only screen and (max-width: 600px) {
    .custom-aboutme h6{
        padding-top:15px;
    }
    .custom-aboutme a{
        font-size:25px;
        padding-right: 3px;
        padding-left: 3px;
    }
}
/************************************/
.custom-skills{
    background-color: rgba(0,0,0,0.6);
}
.custom-skills ol{
    list-style: none;
}
.custom-skills li{
    margin-top: 1%;
}
.custom-skills h5{
    text-align: left; 
    padding-left: 8%;
    margin-top:2%;
    color: rgba(100, 161, 157) !important;
}
.custom-skills p{
    text-align: left; 
    padding-left: 10%;
    color: rgba(255, 255, 255, 0.7) !important;
}
@media only screen and (max-width: 600px) {
    .custom-skills ol{
        padding:0px;
    }
    .custom-skills h5{
        padding-left: 3%;
    }
}
/***************************************/
.custom-myworks-card{
    width: 18rem; 
    margin-top: 5%; 
    display: inline-block;
    /* background-color:  rgba(255, 255, 255, 0.8) !important; */
    background-color: rgba(0,0,0,0.5);
}
.custom-myworks-card h5{
    font-weight: bold;
    color:#64a19d;
}
.custom-myworks-card p{
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .custom-myworks-card img{
        max-width: 250px;
    }
    .custom-myworks-card p{
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 15px;
    }
}

/*******************************************/
.custom-projects{
    background-color: rgba(0,0,0,0.6);
    font-family:monspace;
}

/************************************************/
.go-top{
    position: fixed;
    bottom:8%;
    right: 8%;
    padding: 2px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    background-color:rgba(0,0,0,0.3);
}
.go-top svg{
    color: #64a19d;
}
.go-top:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
@media only screen and (max-width: 600px) {
    .go-top{
        position: fixed;
        bottom:2%;
        right: 2%;
        padding: 3px;
    }
}



/* Animation Slide */
@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animationtop1 {
    animation: 0.3s ease-out 0s 1 slideInFromTop;
}
.animationtop2 {
    animation: 0.5s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.animationleft1 {
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
}
.animationleft2 {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.animationleft3 {
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
}








