
.AboutDiv{
	padding-top:50px;
	background-color: rgba(0,0,0,0.2);
}
.About{
	color:rgb(189, 194, 208);
	font-size: 25px;
	padding: 20px;
	font-family: monospace;
	/* #a9c1e1  #7abcff*/
}
.Header{

	color: rgb(172,50,54);;
	font-family: monospace;
	font-size:35px;
}

.GoTop{
	color:white;
	position: fixed;
	bottom: 20px;
	right: 15px;
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 100%;
	padding-top:15px;
	font-size:20px;
	font-weight: bolder;
	border:1px solid blue;
}
.GoTop a{
	padding: 8px;
}

@media only screen and (max-width: 500px) {
  .About {
    font-size:23px;
  }
}