.Navbar{
	
background: rgb(19,19,20);
background: linear-gradient(0deg, rgba(19,19,20,1) 0%, rgba(51,54,60,1) 39%);

	width: 100vw;
	text-align: left;
	z-index: 1;
	top:0px;
	padding-bottom: 9px;
	position: fixed;
}
.Links{
	margin-right: 8vw;
	margin-left: 2vw;
	font-size: 2vw;
	text-decoration: none;
	color:rgb(127, 167, 197);
}
.Links:hover{
	color:rgb(127, 167, 197);
	font-weight: bold;
	text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .Links {
  	margin-right: 6vw;
    font-size:25px;
  }
}
@media only screen and (max-width: 200px) {
  .Links {
  	margin-right: 2vw;
    font-size:14px;
  }
}