*{
    box-sizing: border-box
}
.CoverSkills{
    padding-top:50px;
}
.container{
    width: 100%;
    background-color: transparent;
    margin-top:20px;
}

.skillsHader{
    text-align: center;
    color: rgb(172,50,54);
	font-family: monospace;
	font-size:35px;
}
.skillHeader{
    color:rgb(111, 131, 200);
    text-align: left;
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    /*color: rgb(123, 128, 132);*/
    font-size: large;
    text-align: left; padding-left: 10px; padding-right: 10px;
}
  
.a {width: 90%; background-color: rgba(0,0,0,0.2); color:rgb(189, 194, 208); }
.b {width: 90%; background-color: rgba(0,0,0,0.2); color:rgb(189, 194, 208);}